.slider-container{
    cursor: grab;
  
  .row{
      display: flex;
      align-items: center;
    .watch{
        border: 1px dashed #353535;
        min-height: 320px;
        .watch-sale{
            margin-top: 10px; 
            padding: 2px;           
        }
        .watch-add-to-cart{
            top: 50%;
        }
       .watch-info{
           padding-left: 0;
           padding-right: 0;
           .watch-price{
               display: flex;
               flex-direction: column;
           }
       }
       &:hover{
        border: 1px dashed #353535;

       }
    }
    .previous-btn{
        left:-20px;
        animation: btn-left-float-in 1s;
    }
    .next-btn{
        right: 0;
        animation: btn-right-float-in 1s;
    }
    .previous-btn,
    .next-btn{
        z-index: 1;
        height: 60%;

        align-items: center;
        justify-content: center;
        width: 30px;

        display: none;
        opacity: 0.6;
    }
    &:hover{
        .next-btn,
        .previous-btn{
        display: flex;
        &:hover{
            opacity: 1;
        }
    }
    }
  }
    .l-3{
        max-width: 90%;
        flex: 0 0 24%;

    }
  
}
@keyframes btn-right-float-in{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes btn-left-float-in{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}
@media (max-width: 1023px){
    .slider-container{
        .row{
            .previous-btn,
            .next-btn{
                display: flex
            }
        }
    }   
}
@media (max-width:740px) {
    .slider-container{
        cursor: grab;
        .watch{
           button.watch-add-to-cart{
               font-size: 2.5rem;
               top: 50%;
               margin-left: 6px;
           }
      
    }
    }
}
@media (min-width: 1024px) and (max-width: 1239px) {
.slider-container{
        cursor: grab; 
        .row{
            .watch{
                button.watch-add-to-cart{
                    font-size: 2.5rem;
                    top: 40%;
                }
         }
            .previous-btn,
            .next-btn{
                display: flex;
            }  
        }
}
}
@media (min-width:1239px){
}