$fontwithstyle:'Roboto Slab', serif;
$size-text-1:1.44rem;
$size-text-2:1.4rem;
$size-text-3:1.6rem;
$size-text-4:1.08rem;
$size-text-5:1.7rem;
$size-icon:2rem;
$size-sale-icon:2.6rem;
$size-menu-toogle: 3rem;
$size-bn-icon: 5rem;
$size-text-banner: 4rem;
// các biến về size 
$color-white1:#ffffff;
$color-white2:#fff;
$color-white3:#4A4A4A;
$color-black1:#3C3451;
$color-black2:#353535;
$color-black3:#1C1C1C;
$color-black4:#767676;
$color-black5:#000000;
$color-text-menu:#848484;
$color-yellow:#e2ba48;
$color-menu-bar:#f8f8f8;
//  các biến về màu 

// các biến về khoảng cách 
h2{font-size: 3.2rem;}
h3{font-size: 2rem;}
h4{font-size: 1.725rem;}

.related-news-section{
    .news-container{
       .container{
           display: flex;
           align-items: center;
           position: relative;
            .previous-btn{
                left: -30px;
                animation: btn-left-float-in 1s;
            }
            .next-btn{
                right: -30px;
                animation: btn-right-float-in 1s;
            }
            .next-btn,
            .previous-btn{
              display: none;
                opacity: 0.6;
                z-index: 1;
            }
            &:hover{
                .next-btn,
                .previous-btn{
                display: block;
                &:hover{
                    opacity: 1;
                }
            }
            }
            &::after{
                content: "";
                height: 100%;
                position: absolute;
                top: 0;
                right: -35px;
                width: 50px;
                background-color: transparent;
            }
            &::before{
                content: "";
                height: 100%;
                position: absolute;
                top: 0;
                left: -35px;
                width: 50px;
            }
        .new-item.col{
            max-width: unset;
            padding: 0 15px;
            text-align: left;
            .new-image{
                width: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: .8s;
                }
                &:hover{
                    img{
                        transform: scale(1.15);
                    }
                }
            }
            .new-title{
                font-size: $size-text-2;
                color: $color-black3;
                margin: 16px 0;
                text-transform: uppercase;
                
                font-weight: 600;
                opacity: 0.9;
                display: block;
                text-decoration: none;

                padding-left: 10px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }
            .new-content{
                font-size: $size-text-2;
                color:$color-black4;
                display: block;
                text-decoration: none;
                padding-left: 10px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }
        }
       }
    }
}
@keyframes btn-right-float-in{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes btn-left-float-in{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}
@media (max-width: 1023px){
    .related-news-section{
        .news-container{
           .container{
                .previous-btn,               
                .next-btn{
                    display: none;
               }
                &:hover{
                    .previous-btn,               
                    .next-btn{
                        display: none;
                    }
                }
            }
        }
    }
}   

//Reponsive tren mobile và tablet
@media (max-width:740px) {
    .related-news-section{
        .news-container{
            .new-item.col.l-4{
                // max-width: unset;
                padding: 0;
            }
         }
    }
}
// Reponsive trên mobile

@media (min-width: 740px) and (max-width: 1023px) {
    .related-news-section{
        .news-container{
            .container{
                margin: 0 -35px;
            }
            .new-item.col.c-12{
                    padding: 8px;
                
            }
        }
    }
}
//Reponsive trên tablet


@media (min-width: 1024px) and (max-width: 1239px) {
    .related-news-section{
        .news-container{
            .new-item.col.c-12{
                    padding: 8px; 
            }
        }
    }
    .related-news-section{
        .news-container{
           .container{
                .previous-btn,               
                .next-btn{
                    display: none;
               }
                &:hover{
                    .previous-btn,               
                    .next-btn{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (min-width:1239px){
}