.slider-item-section{
 margin-top: 60px;
 .slidercontainer{
        .row{
            position: relative;
            .l-3{ 
                max-width: 90%;
            }
        }
        .previous-btn{
            left:-30px;
            top: 25%;
            animation: btn-left-float-in 1s;
        }
        .next-btn{
            right: -30px;
            top: 25%;
            animation: btn-right-float-in 1s;
        }
        .previous-btn,
        .next-btn{
            z-index: 1;
            height: 60%;
    
            align-items: center;
            justify-content: center;
            width: 30px;
    
            display: none;
            opacity: 0.6;
        }
        &:hover{
            .next-btn,
            .previous-btn{
            display: flex;
            &:hover{
                opacity: 1;
            }
        }
    }
 }
 
}
@media (max-width: 1023px){
}
//Reponsive trên mobile và tablet

@media (max-width:740px) {

}
// Reponsive trên mobile

@media (min-width: 740px) and (max-width: 1023px) {  

}
//Reponsive trên tablet

@media (min-width: 1024px) and (max-width: 1239px) {
    .previous-btn,
    .next-btn{
        display: flex!important;
    }
    .previous-btn{
        left: 0!important;
    }
    .next-btn{
        right: 0!important;
    }
}
@media (min-width:1239px){
}
@keyframes btn-right-float-in{
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes btn-left-float-in{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0%);
    }
}