$size-text-1:1.44rem;
$size-text-2:1.4rem;
$size-text-3:1.6rem;
$size-text-4:1.08rem;
$size-text-5:1.7rem;
$size-icon:2rem;
$size-text-6:1.3rem;
$size-menu-toogle: 3rem;
// các biến về size 
$color-white1:#ffffff;
$color-white2:#fff;
$color-white3:#4A4A4A;
$color-black1:#3C3451;
$color-black2:#353535;
$color-black3:#1C1C1C;
$color-black4:#767676;
$color-black5:#000000;
$color-text-menu:#848484;
$color-yellow:#e2ba48;
$color-menu-bar:#f8f8f8;
$color-router:#dbe2ea;
$color-border:#dddddd;
//  các biến về màu 
$header-height:90px;
$header-height-mini:70px;
$search-width:600px;
$search-height:92px;
$search-input-width:558px;
$search-input-height:38px;
$buy-section-width:294px;
$buy-btn-height:40px;
.product-container{
    margin: 40px auto;
    .right-section{
        border-left: 1px solid #dddddd;
        .related-product{
            margin-left: 32px;
            padding: 32px 0;
            h3{
                color: $color-black3;
                text-transform: uppercase;
                margin-bottom: 32px;
            }
        }
    }
}