$fontwithstyle:'Roboto Slab', serif;
$size-text-1:1.44rem;
$size-text-2:1.4rem;
$size-text-3:1.6rem;
$size-text-4:1.08rem;
$size-text-5:1.7rem;
$size-icon:2rem;
$size-sale-icon:2.6rem;
$size-menu-toogle: 3rem;
$size-bn-icon: 5rem;
$size-text-banner: 4rem;
// các biến về size 
$color-white1:#ffffff;
$color-white2:#fff;
$color-white3:#4A4A4A;
$color-black1:#3C3451;
$color-black2:#353535;
$color-black3:#1C1C1C;
$color-black4:#767676;
$color-black5:#000000;
$color-text-menu:#848484;
$color-yellow:#e2ba48;
$color-menu-bar:#f8f8f8;
//  các biến về màu 
$header-height:90px;
$header-height-mini:70px;
$search-width:600px;
$search-height:92px;
$search-input-width:558px;
$search-input-height:38px;
$buy-section-width:294px;
$buy-btn-height:40px;
$modal-shop-width:320px;
// các biến về khoảng cách 
h2{
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
  
}
h3{font-size: 2rem;}
h4{font-size: 1.725rem;}

#footer{
    .footer-content{
        display: flex;
        flex-direction: row;
        padding-top: 38px;
        background-color: $color-black5;
      .row{
        margin: 0;
        width: 100%;
        .link-to{
            padding: 32px 20px 32px 20px;
            color: $color-white1;
            text-align: center;
            opacity: 0.9;
        }
        .main-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-left: 1px dashed #2e2e2e;
            border-right: 1px dashed #2e2e2e;
            .logo-section{
                width: 148px;
                padding: 30px 0 24px 0;
                img{
                    width: 100%;
                }
            }
            .content-text{
                color: $color-black4;
                font-size: $size-text-2; 
                max-width: 80%;
            }
            .email-section{
                width: 70%;
                height: 46px;
                margin: 50px 0 50px 0;

                line-height: 46px;
                padding-left: 28px;
                border-radius: 46px;

                display: flex;
                justify-content: space-between;
               
                background-color: $color-menu-bar;
                input{
                    width: 90%;
                    height: 100%;
                    font-size: $size-text-3;

                    background-color: transparent;
                    outline: none;
                    border: none;
                }
                .submit-btn{
                    width: 46px;
                    height: 46px;
                    border-radius: 46px;
                   
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    i{
                        font-size: $size-sale-icon;
                        color: $color-black5;
                        opacity: .8;
                    }
                    &:hover{
                        background-color:#cccccc;
                    }
                }
            }
        }
        .shop-info{
           
            padding: 32px 20px 32px 20px;
            h3{
                color: $color-white1;
                margin-bottom: 13px;
            }
            p{
            
                color: $color-black4;
                font-size: $size-text-3;
                line-height: 1.5;
                margin: 13px 0;
            }
            a{
                color: $color-black4;
                font-size: $size-text-3;
                text-decoration: none;
                margin: 13px 0;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis; 
            }
        }
      }
    }
    .copy-right-section{
        width: 100%;
        height: 48px;
        background-color:  $color-black5;
        color: $color-black4;
        text-align: center;
        line-height: 48px;
        
        p{
            font-size: $size-text-2;
            display: inline-block;
        }
        span{
            width: 26px;
            display: inline-block;
            padding: 0 2px;
            img{
                width: 100%;
                transform: translateY(6px);
            }
        }
        a{
            font-size: $size-text-2;
            text-decoration: none;
            color: $color-black4;
            font-weight: 600;
            &:hover{
                color: $color-white2;
            }
        }
    }
}
@media (max-width: 1023px){
    .hidden-on-mobile-tablet{
        display: none;
    } 
}
//Reponsive trên mobile và tablet

@media (max-width:740px) {
    #footer{
        .footer-content{
            padding: 0;
          .row{  
            .main-content{
                border-top: 1px dashed #2e2e2e;
                border-bottom: 1px dashed #2e2e2e;
            }
            .shop-info{
                text-align: center
          }
        }
    }
}
}
// Reponsive trên mobile

@media (min-width: 740px) and (max-width: 1023px) {
    #footer{
        .footer-content{
          .row{  
            .shop-info{
                padding: 32px 10px 32px 20px;  
          }
        }
    }
}
}
//Reponsive trên tablet

@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (min-width:1239px){
}

//Trên PC

